__pycache__/
**/__pycache__/
*.pyc
.env
kaggle.json
**/kaggle.json
private_kaggle/
*.pt
*.pth
*.ckpt
*.safetensors
runs/
wandb/
.cache/
*.zip
*.tar
*.tar.gz
*.rar
*.7z
datasets/
real_data/
train/
val/
test/
*.mp4
*.avi
*.log

